<!-- #form is a template reference variable -->
<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">

    <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
        <input type="text" class="form-control" placeholder="Name" autocomplete="off" required name="name"
        [(ngModel)]="newUser.name" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
    </div>

    <div class="form-group"[ngClass]="{'has-error': username.invalid && username.touched}">
        <input type="text" class="form-control" placeholder="Username" autocomplete="off" required name="username"
        [(ngModel)]="newUser.username" #username="ngModel">
        <span class="help-block" *ngIf="username.invalid && username.touched"> Username is required </span>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="form.invalid">
         Create User
    </button>

</form>
